{% extends 'base.html' %}

{% block main %}
<div class="container mt-5">
    <h1>Recipes</h1>
    <div class="row">
        {% for vakansiya in vakansiya %}
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <img src="{{ vakansiya.img.url }}" class="card-img-top" alt="{{ vakansiya.img.url }}">
                <div class="card-body">
                    <h5 class="card-title"><a href="{% url 'detail_vakansiya' vakansiya.pk %}">{{ vakansiya.name }}</a></h5>
                    <p class="card-text">Vakansiya haqida: {{ vakansiya.vakansiya_haqida|truncatewords:50 }}</p>
                    <p class="card-text">Tajriba talab qilinadi: {{ vakansiya.tajriba_talab_qilinadi}} yil</p>
                    <p class="card-text">Ish haqida: {{ vakansiya.ish_haqida }}</p>
                    <p class="card-text">Yosh chagaras: {{ vakansiya.yosh_chegar }}</p>
                    <p class="card-text">Author: {{ vakansiya.author }}</p>
                    <p class="card-text">Yaratilgan vaqti: {{ vakansiya.vaqti }}</p>


                    {% if user.id == vakansiya.author_id %}
                    <a href="{% url 'update_vakansiya' vakansiya.pk %}" class="btn btn-primary">Update</a>
                    <a href="{% url 'delete_vakansiya' id=vakansiya.pk %}" class="btn btn-danger">Delete</a>
                    {% endif %}
                    {% for comment in comments %}
                    <div class="card-body">

                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <a href="{% url 'add_vakansiya' %}" class="btn btn-success">Create recipe</a>
</div>

{% endblock main %}